In [2]:
import pandas as pd
import numpy as np
from datetime import datetime
import time

In [4]:
def minmax_col(df,name):
    df[name]=(df[name]-df[name].min())/(df[name].max()-df[name].min())
    
def meanvar_col(df,name):
    df[name]=(df[name]-df[name].mean())/df[name].std()

In [17]:
df = pd.read_csv("./data/data.csv",encoding='euc-kr' )
df.drop("장소",axis=1,inplace=True)
df.drop("주소",axis=1,inplace=True)
df.drop("신고지",axis=1,inplace=True)
df.drop("접촉자",axis=1,inplace=True)
df['확진일'] = pd.to_datetime(df['확진일'], format='%Y%m%d')
df['집단발병일'] = pd.to_datetime(df['집단발병일'], format='%Y%m%d')
df["diff_days"]=df["집단발병일"]-df["확진일"]
df["diff_days"]=(df["diff_days"] / np.timedelta64(1, 'D')).astype(int)
df.drop("집단발병일",axis=1,inplace=True)
df.drop("확진일",axis=1,inplace=True)
minmax_col(df,"연령")
minmax_col(df,"방역수칙_sum")
minmax_col(df,"위험도_sum")
minmax_col(df,"diff_days")
minmax_col(df,"CT_R")
minmax_col(df,"CT_E")
df.loc[(df['성별'] == 2), '성별'] = 0
df['확진자'] = df.groupby('클러스터')['클러스터'].transform('count')
df.rename(columns = {'클러스터':'cluster','장소_index':'place_idx','주소_index':'add_idx','신고지_index':'rep_idx','성별':'gender','연령':'age','직업_index':'job_idx','방역수칙_sum':'dis','위험도_sum':'danger','확진자':'y'},inplace=True)
df=df[['cluster',  'gender', 'is_korean', 'primary case',
       'age',  'CT_R', 'CT_E', 'dis', 'danger',
       'diff_days','job_idx','place_idx', 'add_idx', 'rep_idx', 'y']]
df.to_csv("./data/data_norm.csv",mode="w",encoding='euc-kr',index=False)

df

,cluster,gender,is_korean,primary case,age,CT_R,CT_E,dis,danger,diff_days,job_idx,place_idx,add_idx,rep_idx,y
0,1,0,1,1,0.609524,0.355800,0.322427,0.166667,0.625,0.142523,4,12,0,0,1
1,2,1,1,1,0.647619,0.815447,0.835515,0.500000,0.500,0.144860,0,11,1,1,5
2,2,0,1,0,0.647619,0.735609,0.727841,0.500000,0.500,0.140187,0,11,1,1,5
3,2,0,1,0,0.647619,0.308360,0.267400,0.500000,0.500,0.140187,0,11,1,1,5
4,2,0,1,0,0.647619,0.553949,0.529149,0.500000,0.500,0.140187,0,11,1,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5886,448,0,1,0,0.019048,0.390223,0.349792,0.666667,0.625,0.144860,0,18,10,10,12
5887,448,0,1,0,0.314286,0.488574,0.447650,0.666667,0.625,0.144860,2,18,10,10,12
5888,448,0,1,0,0.019048,0.772057,0.743605,0.666667,0.625,0.191589,0,18,10,10,12
5889,448,0,1,0,0.304762,0.346833,0.310529,0.666667,0.625,0.147196,99,18,10,10,12
5890,448,0,1,0,0.314286,0.380388,0.350387,0.666667,0.625,0.144860,99,18,10,10,12