In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import time

In [15]:
def minmax_col(df,name):
    minval , maxval = df[name].min(), df[name].max()
    df[name]=(df[name]-df[name].min())/(df[name].max()-df[name].min())
    return minval, maxval

def resotre_minmax_df(df,name,minv,maxv):
    df[name] = (df[name] * (maxv - minv)) + minv

def meanvar_col(df,name):
    df[name]=(df[name]-df[name].mean())/df[name].std()

In [19]:
df = pd.read_csv("./data/data.csv",encoding='euc-kr' )
df.drop("장소",axis=1,inplace=True)
df.drop("주소",axis=1,inplace=True)
df.drop("신고지",axis=1,inplace=True)
df.drop("접촉자",axis=1,inplace=True)
df['확진일'] = pd.to_datetime(df['확진일'], format='%Y%m%d')
df['집단발병일'] = pd.to_datetime(df['집단발병일'], format='%Y%m%d')
df["diff_days"]=df["집단발병일"]-df["확진일"]
df["diff_days"]=(df["diff_days"] / np.timedelta64(1, 'D')).astype(int)
df.drop("집단발병일",axis=1,inplace=True)
df.drop("확진일",axis=1,inplace=True)
minmax_col(df,"연령")
minmax_col(df,"방역수칙_sum")
minmax_col(df,"위험도_sum")
# mind, maxd = minmax_col(df,"diff_days")
minmax_col(df,"CT_R")
minmax_col(df,"CT_E")
df.loc[(df['성별'] == 2), '성별'] = 0
df['확진자'] = df.groupby('클러스터')['클러스터'].transform('count')
miny, maxy = minmax_col(df,"확진자")
df.rename(columns = {'클러스터':'cluster','장소_index':'place_idx','주소_index':'add_idx','신고지_index':'rep_idx','성별':'gender','연령':'age','직업_index':'job_idx','방역수칙_sum':'dis','위험도_sum':'danger','확진자':'y'},inplace=True)
df=df[['cluster',  'gender', 'is_korean', 'primary case',
       'age',  'CT_R', 'CT_E', 'dis', 'danger',
       'diff_days','job_idx','place_idx', 'add_idx', 'rep_idx', 'y']]
# resotre_minmax_df(df,"diff_days",mind,maxd)
df.to_csv("./data/data_norm.csv",mode="w",encoding='euc-kr',index=False)
# resotre_minmax_df(df,"y",miny,maxy)
print(df.columns)
df

Index(['cluster', 'gender', 'is_korean', 'primary case', 'age', 'CT_R', 'CT_E',
       'dis', 'danger', 'diff_days', 'job_idx', 'place_idx', 'add_idx',
       'rep_idx', 'y'],
      dtype='object')

,cluster,gender,is_korean,primary case,age,CT_R,CT_E,dis,danger,diff_days,job_idx,place_idx,add_idx,rep_idx,y
0,1,0,1,1,0.609524,0.355800,0.322427,0.166667,0.625,1,4,12,0,0,0.000000
1,2,1,1,1,0.647619,0.815447,0.835515,0.500000,0.500,2,0,11,1,1,0.032520
2,2,0,1,0,0.647619,0.735609,0.727841,0.500000,0.500,0,0,11,1,1,0.032520
3,2,0,1,0,0.647619,0.308360,0.267400,0.500000,0.500,0,0,11,1,1,0.032520
4,2,0,1,0,0.647619,0.553949,0.529149,0.500000,0.500,0,0,11,1,1,0.032520
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5886,448,0,1,0,0.019048,0.390223,0.349792,0.666667,0.625,2,0,18,10,10,0.089431
5887,448,0,1,0,0.314286,0.488574,0.447650,0.666667,0.625,2,2,18,10,10,0.089431
5888,448,0,1,0,0.019048,0.772057,0.743605,0.666667,0.625,22,0,18,10,10,0.089431
5889,448,0,1,0,0.304762,0.346833,0.310529,0.666667,0.625,3,99,18,10,10,0.089431
5890,448,0,1,0,0.314286,0.380388,0.350387,0.666667,0.625,2,99,18,10,10,0.089431

In [39]:
df = pd.read_csv("./data/data_final_mod.csv",encoding='euc-kr' )
a='age'
for i in df['cluster'].unique():
    if len(df[df['cluster'] == i][a].unique()) > 1:
        print(f"Cluster {i} has different values in {a} column.")

Cluster 3 has different values in age column.
Cluster 4 has different values in age column.
Cluster 5 has different values in age column.
Cluster 6 has different values in age column.
Cluster 7 has different values in age column.
Cluster 9 has different values in age column.
Cluster 10 has different values in age column.
Cluster 11 has different values in age column.
Cluster 12 has different values in age column.
Cluster 18 has different values in age column.
Cluster 19 has different values in age column.
Cluster 23 has different values in age column.
Cluster 26 has different values in age column.
Cluster 27 has different values in age column.
Cluster 29 has different values in age column.
Cluster 30 has different values in age column.
Cluster 32 has different values in age column.
Cluster 34 has different values in age column.
Cluster 35 has different values in age column.
Cluster 36 has different values in age column.
Cluster 45 has different values in age column.
Cluster 46 has different values in age column.
Cluster 47 has different values in age column.
Cluster 50 has different values in age column.
Cluster 51 has different values in age column.
Cluster 52 has different values in age column.
Cluster 54 has different values in age column.
Cluster 56 has different values in age column.
Cluster 60 has different values in age column.
Cluster 61 has different values in age column.
Cluster 63 has different values in age column.
Cluster 64 has different values in age column.
Cluster 65 has different values in age column.
Cluster 70 has different values in age column.
Cluster 71 has different values in age column.
Cluster 73 has different values in age column.
Cluster 74 has different values in age column.
Cluster 75 has different values in age column.
Cluster 76 has different values in age column.
Cluster 78 has different values in age column.
Cluster 79 has different values in age column.
Cluster 80 has different values in age column.
Cluster 82 has different values in age column.
Cluster 83 has different values in age column.
Cluster 84 has different values in age column.
Cluster 85 has different values in age column.
Cluster 86 has different values in age column.
Cluster 88 has different values in age column.
Cluster 89 has different values in age column.
Cluster 90 has different values in age column.
Cluster 93 has different values in age column.
Cluster 94 has different values in age column.
Cluster 95 has different values in age column.
Cluster 96 has different values in age column.
Cluster 97 has different values in age column.
Cluster 98 has different values in age column.
Cluster 99 has different values in age column.
Cluster 100 has different values in age column.
Cluster 101 has different values in age column.
Cluster 102 has different values in age column.
Cluster 103 has different values in age column.
Cluster 104 has different values in age column.
Cluster 105 has different values in age column.
Cluster 108 has different values in age column.
Cluster 109 has different values in age column.
Cluster 110 has different values in age column.
Cluster 111 has different values in age column.
Cluster 112 has different values in age column.
Cluster 113 has different values in age column.
Cluster 114 has different values in age column.
Cluster 115 has different values in age column.
Cluster 116 has different values in age column.
Cluster 117 has different values in age column.
Cluster 118 has different values in age column.
Cluster 119 has different values in age column.
Cluster 120 has different values in age column.
Cluster 121 has different values in age column.
Cluster 122 has different values in age column.
Cluster 123 has different values in age column.
Cluster 124 has different values in age column.
Cluster 125 has different values in age column.
Cluster 126 has different values in age column.
Cluster 127 has different values in age column.
Cluster 128 has different values in age column.
Cluster 129 has different values in age column.
Cluster 130 has different values in age column.
Cluster 131 has different values in age column.
Cluster 132 has different values in age column.
Cluster 133 has different values in age column.
Cluster 134 has different values in age column.
Cluster 135 has different values in age column.
Cluster 136 has different values in age column.
Cluster 137 has different values in age column.
Cluster 138 has different values in age column.
Cluster 139 has different values in age column.
Cluster 140 has different values in age column.
Cluster 141 has different values in age column.
Cluster 142 has different values in age column.
Cluster 143 has different values in age column.
Cluster 144 has different values in age column.
Cluster 145 has different values in age column.
Cluster 146 has different values in age column.
Cluster 147 has different values in age column.
Cluster 148 has different values in age column.
Cluster 149 has different values in age column.
Cluster 150 has different values in age column.
Cluster 151 has different values in age column.
Cluster 152 has different values in age column.
Cluster 153 has different values in age column.
Cluster 154 has different values in age column.
Cluster 155 has different values in age column.
Cluster 157 has different values in age column.
Cluster 158 has different values in age column.
Cluster 160 has different values in age column.
Cluster 161 has different values in age column.
Cluster 162 has different values in age column.
Cluster 163 has different values in age column.
Cluster 164 has different values in age column.
Cluster 165 has different values in age column.
Cluster 166 has different values in age column.
Cluster 167 has different values in age column.
Cluster 168 has different values in age column.
Cluster 169 has different values in age column.
Cluster 172 has different values in age column.
Cluster 173 has different values in age column.
Cluster 174 has different values in age column.
Cluster 175 has different values in age column.
Cluster 176 has different values in age column.
Cluster 177 has different values in age column.
Cluster 178 has different values in age column.
Cluster 179 has different values in age column.
Cluster 180 has different values in age column.
Cluster 181 has different values in age column.
Cluster 182 has different values in age column.
Cluster 183 has different values in age column.
Cluster 184 has different values in age column.
Cluster 186 has different values in age column.
Cluster 187 has different values in age column.
Cluster 188 has different values in age column.
Cluster 189 has different values in age column.
Cluster 190 has different values in age column.
Cluster 191 has different values in age column.
Cluster 192 has different values in age column.
Cluster 193 has different values in age column.
Cluster 194 has different values in age column.
Cluster 195 has different values in age column.
Cluster 196 has different values in age column.
Cluster 197 has different values in age column.
Cluster 198 has different values in age column.
Cluster 199 has different values in age column.
Cluster 201 has different values in age column.
Cluster 202 has different values in age column.
Cluster 203 has different values in age column.
Cluster 204 has different values in age column.
Cluster 205 has different values in age column.
Cluster 206 has different values in age column.
Cluster 207 has different values in age column.
Cluster 208 has different values in age column.
Cluster 209 has different values in age column.
Cluster 210 has different values in age column.
Cluster 211 has different values in age column.
Cluster 212 has different values in age column.
Cluster 213 has different values in age column.
Cluster 215 has different values in age column.
Cluster 216 has different values in age column.
Cluster 217 has different values in age column.
Cluster 218 has different values in age column.
Cluster 219 has different values in age column.
Cluster 220 has different values in age column.
Cluster 221 has different values in age column.
Cluster 222 has different values in age column.
Cluster 223 has different values in age column.
Cluster 224 has different values in age column.
Cluster 225 has different values in age column.
Cluster 226 has different values in age column.
Cluster 227 has different values in age column.
Cluster 228 has different values in age column.
Cluster 229 has different values in age column.
Cluster 230 has different values in age column.
Cluster 231 has different values in age column.
Cluster 233 has different values in age column.
Cluster 234 has different values in age column.
Cluster 235 has different values in age column.
Cluster 236 has different values in age column.
Cluster 237 has different values in age column.
Cluster 238 has different values in age column.
Cluster 239 has different values in age column.
Cluster 240 has different values in age column.
Cluster 241 has different values in age column.
Cluster 242 has different values in age column.
Cluster 243 has different values in age column.
Cluster 244 has different values in age column.
Cluster 247 has different values in age column.
Cluster 248 has different values in age column.
Cluster 249 has different values in age column.
Cluster 250 has different values in age column.
Cluster 251 has different values in age column.
Cluster 252 has different values in age column.
Cluster 253 has different values in age column.
Cluster 254 has different values in age column.
Cluster 255 has different values in age column.
Cluster 256 has different values in age column.
Cluster 257 has different values in age column.
Cluster 258 has different values in age column.
Cluster 259 has different values in age column.
Cluster 260 has different values in age column.
Cluster 261 has different values in age column.
Cluster 262 has different values in age column.
Cluster 263 has different values in age column.
Cluster 264 has different values in age column.
Cluster 265 has different values in age column.
Cluster 266 has different values in age column.
Cluster 267 has different values in age column.
Cluster 268 has different values in age column.
Cluster 269 has different values in age column.
Cluster 270 has different values in age column.
Cluster 271 has different values in age column.
Cluster 272 has different values in age column.
Cluster 273 has different values in age column.
Cluster 274 has different values in age column.
Cluster 275 has different values in age column.
Cluster 276 has different values in age column.
Cluster 277 has different values in age column.
Cluster 278 has different values in age column.
Cluster 279 has different values in age column.
Cluster 280 has different values in age column.
Cluster 281 has different values in age column.
Cluster 282 has different values in age column.
Cluster 283 has different values in age column.
Cluster 284 has different values in age column.
Cluster 285 has different values in age column.
Cluster 286 has different values in age column.
Cluster 287 has different values in age column.
Cluster 288 has different values in age column.
Cluster 289 has different values in age column.
Cluster 290 has different values in age column.
Cluster 291 has different values in age column.
Cluster 292 has different values in age column.
Cluster 293 has different values in age column.
Cluster 294 has different values in age column.
Cluster 295 has different values in age column.
Cluster 296 has different values in age column.
Cluster 297 has different values in age column.
Cluster 298 has different values in age column.
Cluster 299 has different values in age column.
Cluster 300 has different values in age column.
Cluster 301 has different values in age column.
Cluster 302 has different values in age column.
Cluster 303 has different values in age column.
Cluster 304 has different values in age column.
Cluster 305 has different values in age column.
Cluster 306 has different values in age column.
Cluster 307 has different values in age column.
Cluster 308 has different values in age column.
Cluster 309 has different values in age column.
Cluster 310 has different values in age column.
Cluster 311 has different values in age column.
Cluster 312 has different values in age column.
Cluster 313 has different values in age column.
Cluster 314 has different values in age column.
Cluster 315 has different values in age column.
Cluster 317 has different values in age column.
Cluster 318 has different values in age column.
Cluster 319 has different values in age column.
Cluster 320 has different values in age column.
Cluster 321 has different values in age column.
Cluster 322 has different values in age column.
Cluster 323 has different values in age column.
Cluster 324 has different values in age column.
Cluster 325 has different values in age column.
Cluster 326 has different values in age column.
Cluster 327 has different values in age column.
Cluster 328 has different values in age column.
Cluster 329 has different values in age column.
Cluster 330 has different values in age column.
Cluster 331 has different values in age column.
Cluster 332 has different values in age column.
Cluster 333 has different values in age column.
Cluster 334 has different values in age column.
Cluster 335 has different values in age column.
Cluster 336 has different values in age column.
Cluster 337 has different values in age column.
Cluster 338 has different values in age column.
Cluster 339 has different values in age column.
Cluster 340 has different values in age column.
Cluster 341 has different values in age column.
Cluster 342 has different values in age column.
Cluster 343 has different values in age column.
Cluster 344 has different values in age column.
Cluster 345 has different values in age column.
Cluster 346 has different values in age column.
Cluster 347 has different values in age column.
Cluster 348 has different values in age column.
Cluster 349 has different values in age column.
Cluster 350 has different values in age column.
Cluster 351 has different values in age column.
Cluster 352 has different values in age column.
Cluster 353 has different values in age column.
Cluster 354 has different values in age column.
Cluster 355 has different values in age column.
Cluster 357 has different values in age column.
Cluster 358 has different values in age column.
Cluster 359 has different values in age column.
Cluster 360 has different values in age column.
Cluster 361 has different values in age column.
Cluster 362 has different values in age column.
Cluster 363 has different values in age column.
Cluster 364 has different values in age column.
Cluster 365 has different values in age column.
Cluster 366 has different values in age column.
Cluster 367 has different values in age column.
Cluster 368 has different values in age column.
Cluster 369 has different values in age column.
Cluster 370 has different values in age column.
Cluster 371 has different values in age column.
Cluster 372 has different values in age column.
Cluster 373 has different values in age column.
Cluster 374 has different values in age column.
Cluster 375 has different values in age column.
Cluster 376 has different values in age column.
Cluster 378 has different values in age column.
Cluster 379 has different values in age column.
Cluster 380 has different values in age column.
Cluster 381 has different values in age column.
Cluster 382 has different values in age column.
Cluster 383 has different values in age column.
Cluster 384 has different values in age column.
Cluster 385 has different values in age column.
Cluster 386 has different values in age column.
Cluster 387 has different values in age column.
Cluster 388 has different values in age column.
Cluster 389 has different values in age column.
Cluster 390 has different values in age column.
Cluster 391 has different values in age column.
Cluster 392 has different values in age column.
Cluster 393 has different values in age column.
Cluster 394 has different values in age column.
Cluster 395 has different values in age column.
Cluster 396 has different values in age column.
Cluster 397 has different values in age column.
Cluster 398 has different values in age column.
Cluster 399 has different values in age column.
Cluster 400 has different values in age column.
Cluster 401 has different values in age column.
Cluster 402 has different values in age column.
Cluster 403 has different values in age column.
Cluster 404 has different values in age column.
Cluster 405 has different values in age column.
Cluster 406 has different values in age column.
Cluster 407 has different values in age column.
Cluster 408 has different values in age column.
Cluster 409 has different values in age column.
Cluster 410 has different values in age column.
Cluster 411 has different values in age column.
Cluster 412 has different values in age column.
Cluster 413 has different values in age column.
Cluster 414 has different values in age column.
Cluster 415 has different values in age column.
Cluster 416 has different values in age column.
Cluster 417 has different values in age column.
Cluster 418 has different values in age column.
Cluster 419 has different values in age column.
Cluster 420 has different values in age column.
Cluster 421 has different values in age column.
Cluster 422 has different values in age column.
Cluster 423 has different values in age column.
Cluster 424 has different values in age column.
Cluster 425 has different values in age column.
Cluster 426 has different values in age column.
Cluster 427 has different values in age column.
Cluster 428 has different values in age column.
Cluster 429 has different values in age column.
Cluster 430 has different values in age column.
Cluster 431 has different values in age column.
Cluster 432 has different values in age column.
Cluster 433 has different values in age column.
Cluster 434 has different values in age column.
Cluster 435 has different values in age column.
Cluster 436 has different values in age column.
Cluster 437 has different values in age column.
Cluster 438 has different values in age column.
Cluster 439 has different values in age column.
Cluster 440 has different values in age column.
Cluster 441 has different values in age column.
Cluster 442 has different values in age column.
Cluster 443 has different values in age column.
Cluster 444 has different values in age column.
Cluster 445 has different values in age column.
Cluster 446 has different values in age column.
Cluster 447 has different values in age column.
Cluster 448 has different values in age column.